@page "/fetchdata"
@using BlazorAppTimezone.Shared
@inject HttpClient Http
@using Microsoft.AspNetCore.WebUtilities

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

 <div class="row">
    <div class="col col-auto">
        <div class="form-group">
            <label for="firstName" class="control-label">Enter Time zone</label>
          
             <input type="text"  id="firstName" class="form-control" @bind="@_timeZone"/>
           
            @*<input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control" style="width:25ch;">*@
        </div>
    </div>
</div>
<span>TimeZone DisplayName : </span><span>@timeZoneDettail.TimeZoneDisplayName</span>
<br />
<span>TimeZone Name : </span><span>@timeZoneDettail.TimeZoneName</span>
<br />
<span>Timezone ID : </span><span>@timeZoneDettail.TimezoneID</span>
<br />
<span>Time at Time Zone : </span><span>@timeZoneDettail.TimeAtTimezone</span>
<br />
<span>UTC Time : </span><span>@timeZoneDettail.UTCTime</span>


@code {
    private WeatherForecast[]? forecasts;
    private TimezoneDetails timeZoneDettail = new TimezoneDetails();
    private string _timeZone = "America/Chicago";

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        //timeZoneDettail = await Http.GetFromJsonAsync<TimezoneDetails>($"WeatherForecast");
     
        var _escapedTimezone = Uri.EscapeDataString(_timeZone);
       
        timeZoneDettail = await Http.GetFromJsonAsync<TimezoneDetails>($"/api/WeatherForecast/GetTimeZonetime/{_escapedTimezone}");
        StateHasChanged();
    }
}
